@charset "UTF-8";
:root {
  font-size: 16px;
}

div#spinner-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#spinner-wrapper .spinner {
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #009fa9;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

div#spinner-wrapper .spinner-text {
  font-size: 2rem;
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

div.topbar {
  background: -webkit-gradient(linear, left top, right top, from(#00C9FF), color-stop(60%, #92FE9D), color-stop(90%, #009fa9));
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 60%, #009fa9 90%);
  background-color: #009fa9;
  padding: .5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h6 {
  display: inline-block;
}

.nav-link {
  font-family: 'Roboto' sans-serif;
}

.point-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#diagnose div.row div.col-md-4 {
  padding-bottom: 0 !important;
}

#bannerCarousel {
  overflow: hidden;
}

#bannerCarousel .banner-title {
  font-size: 450%;
  font-family: 'Montserrat', sans-serif !important;
}

#bannerCarousel .carousel-item img {
  max-height: 100%;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

#bannerCarousel .carousel-item .carousel-caption {
  top: 30%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#reviewsCarousel .carousel-control-prev {
  background: #009fa9;
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, #009fa9), to(white));
  background: linear-gradient(90deg, #009fa9 18%, white 100%);
  border-radius: 20px;
  -webkit-clip-path: circle(16%);
          clip-path: circle(16%);
}

#reviewsCarousel .carousel-control-next {
  background: #009fa9;
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, white), to(#009fa9));
  background: linear-gradient(90deg, white 18%, #009fa9 100%);
  border-radius: 20px;
  -webkit-clip-path: circle(16%);
          clip-path: circle(16%);
}

a.btn-banner {
  margin: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 10px;
}

a.btn-banner.call:hover {
  background-color: #009fa9;
  text-decoration: none;
  color: white;
}

a.btn-banner.inquiry:hover {
  background-color: #009fa9;
  text-decoration: none;
  color: white;
}

#contactSection {
  background-color: #009fa9;
}

.section-title {
  background: -webkit-gradient(linear, left top, right top, from(#00C9FF), color-stop(30%, #92FE9D), color-stop(90%, #009fa9));
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 30%, #009fa9 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

#services {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  background: #023b44;
  background: linear-gradient(149deg, #023b44 0%, #00bbd5 90%, #00e0ff 100%);
}

#services ul {
  list-style: none;
}

#services ul li {
  font-size: 1.2rem;
}

#services ul li:before {
  content: '👉';
  margin-right: 1rem;
}

#whyUs div.card .card-body {
  text-align: center;
}

.c-card-logo {
  display: block;
  margin: 0 auto;
  color: #009fa9;
}

.card {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer.footer {
  background-color: #F8F8F8;
  padding: 4rem 2rem;
}

.c-footer-icon {
  max-width: 2rem;
}

.c-bg-primary {
  background-color: #009fa9;
}

.footer-menu {
  font-family: 'Roboto', sans-serif;
}

.footer-menu:not(:last-child) {
  margin-right: 5rem;
}

.footer-menu h3 {
  font-weight: bold;
}

.footer-menu ul {
  list-style-type: none;
  padding-left: 0.5rem;
}

.footer-menu ul li a {
  font-weight: 400;
  font-size: 0.875rem !important;
}

.emoji-icon {
  font-size: 6rem;
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 14px;
  }
  #services {
    border-radius: 0;
    background: #023b44;
    background: linear-gradient(149deg, #023b44 0%, #00bbd5 50%, #023b44 100%);
  }
  #services ul {
    padding-left: 0px;
  }
  #bannerCarousel {
    height: auto;
  }
  #bannerCarousel .carousel-caption {
    text-align: left;
    top: 3rem !important;
  }
  #bannerCarousel .banner-title {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
  }
  #bannerCarousel p.lead {
    font-size: 1rem !important;
  }
  #whyUs .card {
    padding: 0;
    margin: 1rem auto;
  }
  #whyUs .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #whyUs .card .card-body .my-card-detail {
    text-align: left;
  }
  a.btn-banner {
    margin: .3rem;
    text-decoration: none;
    font-size: .9rem;
    padding: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */