@charset "UTF-8";
:root {
  font-size: 14px;
}

div#spinner-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#spinner-wrapper .spinner {
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #022335;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

div#spinner-wrapper .spinner-text {
  font-size: 2rem;
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

div.topbar {
  background-color: #022335;
  padding: .5rem;
  color: #ffb400;
}

div.topbar .header-icon path {
  fill: #ffb400;
}

a {
  text-decoration: none;
  color: inherit;
}

h6 {
  display: inline-block;
}

.nav-link {
  font-family: 'Roboto' sans-serif;
}

.point-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#diagnose div.row div.col-md-4 {
  padding-bottom: 0 !important;
}

#bannerCarousel {
  overflow: hidden;
}

#bannerCarousel .banner-title {
  font-size: 450%;
  font-family: 'Montserrat', sans-serif !important;
}

#bannerCarousel .carousel-item img {
  max-height: 100%;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

#bannerCarousel .carousel-item .carousel-caption {
  top: 30%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#reviewsCarousel .carousel-control-prev {
  background: #022335;
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, #009fa9), to(white));
  background: linear-gradient(90deg, #009fa9 18%, white 100%);
  border-radius: 20px;
  -webkit-clip-path: circle(16%);
          clip-path: circle(16%);
}

#reviewsCarousel .carousel-control-next {
  background: #022335;
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, white), to(#009fa9));
  background: linear-gradient(90deg, white 18%, #009fa9 100%);
  border-radius: 20px;
  -webkit-clip-path: circle(16%);
          clip-path: circle(16%);
}

a.btn-banner {
  margin: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: .2s;
}

a.btn-banner.call:hover {
  background-color: #ffb400;
  text-decoration: none;
  color: white;
}

a.btn-banner.inquiry:hover {
  background-color: #ffb400;
  text-decoration: none;
  color: white;
}

#contactSection {
  background-color: #022335;
}

.section-title {
  background: -webkit-gradient(linear, left top, right top, from(#0071df), color-stop(90%, #022335));
  background: linear-gradient(90deg, #0071df 0%, #022335 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

.section-title-light {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffb400), to(white));
  background: linear-gradient(180deg, #ffb400 10%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

#services {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  background: #023b44;
  background: linear-gradient(149deg, #022335 0%, #0071df 100%);
}

#services ul {
  list-style: none;
}

#services ul li {
  font-size: 1.2rem;
}

#services ul li:before {
  content: '👉';
  margin-right: 1rem;
}

#whyUs div.card .card-body {
  text-align: center;
}

.c-card-logo {
  display: block;
  margin: 0 auto;
  color: #022335;
}

.card {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer.footer {
  background-color: #F8F8F8;
  padding: 4rem 2rem;
}

.c-footer-icon {
  max-width: 2rem;
}

.c-bg-primary {
  background-color: #022335;
}

.footer-menu {
  font-family: 'Roboto', sans-serif;
}

.footer-menu:not(:last-child) {
  margin-right: 5rem;
}

.footer-menu h3 {
  font-weight: bold;
}

.footer-menu ul {
  list-style-type: none;
  padding-left: 0.5rem;
}

.footer-menu ul li a {
  font-weight: 400;
  font-size: 0.875rem !important;
}

.emoji-icon {
  font-size: 6rem;
}

.br-10 {
  border-radius: 10px;
}

.br-20 {
  border-radius: 20px;
}

.about-section-icon {
  fill: #0071df;
}

.about-profile-background {
  opacity: 0.4;
  position: absolute;
  left: 100%;
}

.about-misson-background {
  opacity: 0.4;
  position: absolute;
  right: 110%;
}

.contact-geo-icon {
  fill: #0071df;
}

#addressDiv {
  position: relative;
}

#addressDiv iframe#desktopMap {
  position: absolute;
  width: 100%;
}

#addressDiv .detailDiv {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 5px 5px #eee;
          box-shadow: 0 0 5px 5px #eee;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div#mobileMap {
  display: none;
}

div#mobileMap iframe {
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 14px;
  }
  iframe#desktopMap {
    display: none;
  }
  div#mobileMap {
    display: block;
  }
  #services {
    border-radius: 0;
    background: #023b44;
    background: linear-gradient(149deg, #022335 0%, #0071df 100%);
  }
  #services ul {
    padding-left: 0px;
  }
  #aboutBanner .content-col {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  #aboutBanner .image-col {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #contactBanner .content-col {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  #contactBanner .image-col {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #bannerCarousel {
    height: auto;
  }
  #bannerCarousel .carousel-caption {
    text-align: left;
    top: 3rem !important;
  }
  #bannerCarousel .carousel-caption span.extra-content {
    display: none;
  }
  #bannerCarousel .banner-title {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
  }
  #bannerCarousel p.lead {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
  }
  #bannerCarousel a.btn-banner {
    text-align: center;
    display: block;
    width: 80%;
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  #bannerCarousel .banner-image {
    height: 80vh !important;
  }
  #whyUs .card {
    padding: 0;
    margin: 1rem auto;
  }
  #whyUs .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #whyUs .card .card-body .my-card-detail {
    text-align: left;
  }
  a.btn-banner {
    margin: .3rem;
    text-decoration: none;
    font-size: .9rem;
    padding: 1rem;
  }
  .about-profile-background {
    display: none;
  }
  .about-misson-background {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .about-profile-background {
    display: none;
  }
  .about-misson-background {
    display: none;
  }
  iframe#desktopMap {
    display: none;
  }
  div#mobileMap {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */