$color-primary: #022335;
$color-primary2: #0071df;
$bg-grey-1: #F8F8F8;
$text-light: white;
$color-accent: #ffb400;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;