@import "./variable.scss";

:root{
    font-size: 16px;
}


div#spinner-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: rgba($color: black, $alpha: .8);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner{
        transform-origin: center;
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid $color-primary;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    .spinner-text{
        font-size: 2rem;
        color: $text-light;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



div.topbar{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 60%, $color-primary 90%);
    background-color: $color-primary;
    padding: .5rem;
}

a{
    text-decoration: none;
    color: inherit;
}

h6{
    display: inline-block;
}

.nav-link{
    font-family: 'Roboto' sans-serif;
}
.point-title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

#diagnose{
    div.row{
        & div.col-md-4{
            padding-bottom: 0 !important;
        }
    }
}

#bannerCarousel{
    // height: 9vh;
    overflow: hidden;
    .banner-title{
        font-size:450%;
        // letter-spacing: 6px;
        font-family: 'Montserrat', sans-serif !important;
    }
    .carousel-item{
        
        img{
            
            max-height: 100%;
            
            filter: brightness(40%);
        }

        .carousel-caption{
            top: 30%;
            transform-origin: center;
       
        }
    }
}

#reviewsCarousel{
    .carousel-control-prev {
        background: $color-primary;
        background: linear-gradient(90deg, rgba(0,159,169,1) 18%, rgba(255,255,255,1) 100%);
        border-radius: 20px;
        clip-path: circle(16%);
    }

    .carousel-control-next {
        background: $color-primary;
        background: linear-gradient(90deg, rgba(255,255,255,1) 18%,  rgba(0,159,169,1)  100%);
        border-radius: 20px;
        clip-path: circle(16%);
    }
}

a.btn-banner{
    
    margin: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid $text-light;
    border-radius: 10px;
    &.call:hover{
        background-color: $color-primary;
        text-decoration: none;
        color: $text-light;
    }

    &.inquiry:hover{
        background-color: $color-primary;
        text-decoration: none;
        color: $text-light;
    }

    
}

#contactSection{
    background-color: $color-primary;
}
.section-title{
    // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    // background : radial-gradient(circle , rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    // background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 34%, rgba(131,58,180,1) 100%,);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 30%, $color-primary 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
}
#services{
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background: rgb(2,59,68);
    background: linear-gradient(149deg, rgba(2,59,68,1) 0%, rgba(0,187,213,1) 90%, rgba(0,224,255,1) 100%);
  
    ul{
        list-style: none;
        li{
            font-size: 1.2rem;
            &:before{
                content: '👉';
                margin-right: 1rem;
            }
        }
    }
}

#whyUs{
    div.card .card-body{
        text-align: center;
    }
}



.c-card-logo{
    display: block;
    margin: 0 auto;
    color: $color-primary;
}

.card{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer.footer{
    background-color: $bg-grey-1 ;
    padding: 4rem 2rem;
}

.c-footer-icon{
    max-width: 2rem;
}
.c-bg-primary{
    background-color: $color-primary;
}
.footer-menu{
    font-family: 'Roboto', sans-serif;
    &:not(:last-child){
        margin-right: 5rem;
    }
    h3{
        
        font-weight: bold;
    }

    ul{
        list-style-type: none;
        padding-left: 0.5rem;
        
        li{
            a{
                font-weight: 400;
                font-size: 0.875rem !important;
            }
            
        }
    }
}

.emoji-icon{
    font-size: 6rem;
}




@media screen and (max-width: $breakpoint-sm){
    :root{
        font-size: 14px;
    }
    #services{
        border-radius: 0;
        background: rgb(2,59,68);
        background: linear-gradient(149deg, rgba(2,59,68,1) 0%, rgba(0,187,213,1) 50%, rgba(2,59,68,1) 100%);

        ul{
            padding-left: 0px;
        }
    }

    #bannerCarousel{
        height: auto;

        .carousel-caption{
            text-align: left;
            top: 3rem !important;
        }
        //overflow: hidden;
        .banner-title{
            font-size:1.7rem;
            // letter-spacing: 6px;    
            font-family: 'Roboto', sans-serif;
        }
        p.lead{
            font-size: 1rem !important;
        }
    }

    #whyUs{
        .card{
            padding: 0;
            margin: 1rem auto;
        }
    }

    a.btn-banner{
        margin: .3rem;
        text-decoration: none;
        font-size: .9rem;
        padding: 1rem;
        
    }

}





